node_modules
.DS_Store
.vscode-test/
*.tsbuildinfo
*.vsix
*.log
out
dist
docs/_site
docs/.sass-cache
docs/.jekyll-metadata
.test-workspace
.jekyll-cache
(0)Drafts
(1)Index
(2)壳
(3)Projects
(4)Calendar
(5)Finances
(6)Personal
Images(offline)
.trash
