/* ### Theme: Paper ### */

// Dark Mode / Color Modes / 4 Seasonal Color Modes
// Articles have no background, text colors change, background colors chagne, blue becomes lighter

//Spring
//Dark
.dark-mode{

    background-color: rgb(28, 28, 33);
    h1,h2,h3,h4,h5,h6{
        color: #a3d1ff;
    }
    p{
        color: white;
    }
    a{
        color: #a3d1ff;
    }
}
//grey
.grey-mode{
    background-color: #EBEBEA;
}
//White
.white-mode{
    background-color: white;
}

#theme{
    border-radius: 100%;
    background-image: radial-gradient( rgb(255, 223, 223), red);
    width: 30px;
    height: 30px;
}

/* === Base Settings === */

/* --- Body Colors --- */

$background: white;
$color-inner-divs: #fffdfb;
$color-items: #fffdfb;


/* --- Text Colors --- */
$color-text: rgb(0, 20, 131);
$color-subtext: black;
$internal-links: blue;
$external-links: blue;
$invalid-links: $internal-links;
$color-primary: black;
$color-box-shadow: none;


/* --- Borders --- */
$article-border: none;
$prev-next-border: none;
$color-item-border: none;
$border-radius: 5px;

/* --- Embeds, Sidenote and Footnote Colors --- */
$embed-border: 2px solid brown;
$color-embed-background: white;
$color-embed-title: red;
$color-embed-text: black;

$footnote-border: none;
$color-footnote-background: white;
$color-footnote-text: rgb(138, 138, 138);

$sidenote-border: thin solid $color-primary;
$color-sidenote-background: none;
$color-sidenote-text: brown;

$color-code-text: red;
$color-code-highlight: white;
$color-code-background: $color-code-highlight;

strong {
    color: green;
}



/* --- Font Family --- */
$font-family-sans-serif: Helvetica, Arial, -apple-system, BlinkMacSystemFont, Segoe UI,  sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;

$font-family-serif: Times New Roman, Times, serif;

$font-family-monospace: ”Iosevka Term SS03”,”IBM Plex Mono”,”Fira Code”,”Fira Mono”,”Roboto Mono”,”Droid Sans Mono”,Monaco,Consolas,Courier,monospace;


body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
//   padding: 4vh 6vw;
margin-top: 2em;
  overflow-x: hidden;
  color: $color-text;
  font-size: 1.2rem;
  background-attachment: fixed; /*edit*/
}

.yellow {
    background-color: yellow;
}

/* TITLES
================================================== */

h1,h2,h3,h4,h5,h6 {
  line-height: normal;
  padding-bottom: 0;
  font-size:1.15em;
  margin:.5em;
  margin-left:0em;
    font-variant: small-caps;
font-family: 'Times New Roman', Times, serif;
color: #0066CC;
}

p{
    line-height: 1.7em;
    font-size: 14px;
}

.title-text {
    text-decoration:underline;
    text-align:center;
    font-weight:bold;
    margin:auto;
    // line-height:.5em;
    font-size: 1.3em;
    color: red;
    font-family: 'Times New Roman', Times, serif;
}

.post-content{
    
h1 { text-align:center;font-weight:bold; text-decoration: underline; font-size: 1.4em;}

h2 { text-align:left;font-weight:bold; font-size: 1.4em; color: #0066CC }

h3 {font-weight:normal; text-decoration:underline;text-align:left; font-size:1.3em;}

h4 {text-transform:none;font-weight:normal; font-size:1.2em; text-align:left}
}


ul {
  list-style-type: circle;
}

hr {
  margin:1.5em;
    display: none;
}



/* CODE HIGHLIGHTING
================================================== */

code {
    color: white;
    background-color: $color-code-highlight;
    font-family: $font-family-monospace;
    color: $color-code-text;
}


.highlight {
    background-color: $color-code-highlight;
    border-radius: 0px;
    margin: auto;
    position:relative;
}


/* LINKS
================================================== */

a {
  color: $external-links;
  text-decoration:underline;
  }
    a:hover {
    text-decoration: underline;
    cursor: pointer;
  }
      a.internal-link {
    color: $external-links;
       text-decoration:underline; 
    cursor: pointer;
      }
      .notes-entry-container a.internal-link::before{
      content:"»";
      }
.invalid-link, .invalid-link-brackets {
  color: $invalid-links;
  cursor: help;
}
   .web-link:hover {
       cursor: alias;
        
    }

.anchor a {
  color: $color-text;
  cursor: pointer;
    
}

.anchor a:hover{
    color: $internal-links;
    cursor: pointer;
    background-color: $background;
}

.toc-container a {
  cursor: pointer;
}

index-grid a:hover {

      background-color: yellow;
      cursor: alias;
}

.sidebar-link-box a, .post-content a {
    &:hover{
      background-color: Yellow;
      color: Red;
    }
}


/* HEADER ANCHORS
================================================== */

.anchor {visibility: hidden; color:gray; opacity:0.7; text-decoration:none; font-size: 0.8em; font-family:monospace}
.anchor:hover {text-decoration:none; color:white !important; cursor:pointer;}
h1:hover > a.anchor,
h2:hover > a.anchor,
h3:hover > a.anchor,
h4:hover > a.anchor,
h5:hover > a.anchor,
h6:hover > a.anchor {
    visibility: visible;
} 


/* PAGE FORMATTING
================================================== */

.title {
    // padding: 1em;
    // margin-bottom:1em;
}

/* BACKLINKS
================================================== */


.backlinks-excerpt{
  font-size: 0.9em; color: $color-subtext;
}
.backlinks-none{
  font-size: 0.9em; text-align:center;
}

#graph-wrapper svg {
    border: thin solid white;
}

/* TABLE OF CONTENTS
================================================== */

.toc-container{
  border: none; 
  padding: 1em;
  padding-bottom: 0em;
  margin: 1em;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
    @media (max-width: 700px) {
  max-width:100%;
  }
}
.toc-container h1 {
  margin: auto;
}

.toc-container ol li  {
  list-style-type: numeral;
}

.toc-container ol li li {
  list-style-type: lower-latin;
}


//--=--=--=--=--=--=--=--=--=--=--=--=--=--=--=--=--=--=--\\
//--=--=--=--=--=--=--=--=*EXTRAS*=--=--=--=--=--=--=--=--\\

.home-img-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.home-img{
    width: 100%;
    height: 100%;
    position: relative;
}

//--=--=--=--=--=--=--=--=--=--=--=--=--=--=--=--=--=--=--\\


/* STRUCTURE
================================================== */

.sidebar-card, .index-card, .archive-cardi {
    margin-bottom: 0em;
    float: left;
    clear: both;
    // background-color: white;
    padding: 0.5em;
    box-sizing: border-box;
    width: 100%;
}

.index-card{
    // padding: 0.5em 1em;
    padding: 0;
    margin: auto;
    width: 100%;
    border: none;
}

// .index-grid:first-child {
//     border-top: 1px solid blue;
// }

.container-lg {
    // max-width: 43em;
    // margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    // max-width: 50em;
    margin: -3em auto;
    // padding: 0em 1em 0em 1em;
    padding: 0px 10px 0px 10px;
    margin-left: auto;
    margin-right: auto;
    // width: 100vw;
}

.leftcolumn {
    float: left;
    max-width: 200px;
    // margin: 0.5em;
     @media (max-width: 900px)
     {width: 100%;
         }}

.midcolumn {
    float: left;
    margin-top: 2em;
    // position: absolute;
    width: 600px;
    
@media (max-width: 900px)
     {width: 600px;
    margin-top: 2em
}}

.midcolumn > article:nth-child(1){
    background-color: yellow;
    border: 2px solid blue;
}

.midcolumn-small {
    width: 40%;
    margin: auto;
}

main{
// margin: auto;
width: auto;
}

.sidebar-card {
    text-align: left;
}

.sidebar-card h1 {
    padding: 0.5em;
    margin: auto;
    text-align: center;
}

.sidebar-card h2 {
    margin: auto;
    padding-bottom: 0.5em;
    text-align: center;
    font-weight: bold;
}

.sidebar-card ul {
    margin: 0.1em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    list-style-position: outside;
    font-weight: bold;
    line-height: 1em;
}

.related ul li {
    // margin: 0.1em;
    padding-bottom: 0.5em;
    align-items: start;
}


/* PROFILE
================================================== */

.sidebar-card a, .related a {
    margin-bottom: 0.5em;
}

.profile-pic {
    border-radius: 50%;
    width: 55px;
    margin-bottom: 0.5em;
    
    @media (max-width: 900px)
     {float: 100%;
         margin: auto
         }}

.profile {
    // margin-bottom: 0.5em;
    font-weight: bold;
}

.user-name {
    color: $internal-links;
    text-decoration: underline;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    width: 100%;
}
.sidebar-link-box{
    display: grid;
    grid-template-columns: auto;
    text-align: end;
    box-shadow: 1px 1px 0px $color-box-shadow;
    // margin-bottom: 0.5em;
    max-width: 100%;
    // padding: 0.5em;
    font-size: 13px;
}

.side

.index-grid {
    display: block;
    margin: auto;
    grid-template-columns: auto;
//    border: 2px brown solid; 
    box-shadow: 1px 1px 0px white;
    // background-color: $color-inner-divs;
    // margin-bottom: 0.5em;
    max-width: 100%;
    // padding: 0.5em;
    font-size: 0.9em;
    justify-content: end;
    justify-items: end;
    align-items: end;
    
    @media (max-width: 1000px)
     {margin: auto;
      display: block;
}}

.sidebar-link-box h2 {
    font-size: 1.3em;
    
}

.sidebar-link-box {
    padding: 0em;
    text-align: start;
}


.sidebar-card h1 {
    font-size: 1.4em;
    padding: 0em;
    text-decoration: underline;
}

.sidebar-link-box ul li {
    list-style: none;
    list-style-position: inside;

}



.silent-link {
    color: $color-text;
}

/* HOME 
=============*/

.home-card {
    width: 400px;
    margin: auto;
    padding: 25px; 
    background-color: $background;
    border: $article-border;
}

.container-sml {
    width: 400px;
    margin: auto;
}

.home-icon {
    width: 50px;
    background-color: transparent;
    border: none;
}

.icon-grid {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    padding: 5px;
}

.flip {
      transform: scaleX(-1);
}


/* POST CONTENT
(use this to style the formatting of your posts)
================================================== */
.post-content {
    line-height: 1.3em;
      margin-left:0.3em; 
  margin-right:0.3em; 
  padding-top:0.5em;
}

.post-content img {
  max-width: 70%;
  display: block;
  margin: auto;
//   margin-bottom: 1em;
  max-height: 75vh;
}


.post-content blockquote {
  padding: 0.3em;
  margin: 0;
  font-size: 1em;
  font-family: $font-family-serif;
    font-style: italic;
}

.notes-entry-container {
  border: $color-item-border;
 padding-top:0em; 
}

// image captions
img+em {
    display: block;
    color: $internal-links;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.9em;
    margin-top: -1.5em;
}

/* BACKLINKS
================================================== */

.backlinks-container {
    max-width:28em; margin: 0 auto;
    background-color: none;
    margin: 1em auto;
    border: none;
    font-family: 'Times New Roman', Times, serif;
}

.backlinks-container h1{
    margin-bottom: 1em
}

.backlink-box {
    padding:1em;
    margin-bottom: 0.5em;
    line-height:1em;
    background-color: yellow;
    border: 2px solid blue;
    border-radius: 0px;
    line-height:1em;
}


/* EMBEDDED NOTES
================================================== */

.embed-wrapper {
    border: 1px solid darkblue;
    padding: 1em;
    background-color: white;
    margin-top: 2em;
    margin-bottom: 2em;
    background: white;
}

.embed-title {
    display: none;
}

.embed-content {
    color: $color-embed-text;
}
.embed-content p {
    color: $color-embed-text;
}



/* SIDENOTES
================================================== */

.sidenote {
    display: none;
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: 1em;
    font-style: italic;
    font-size: 0.8em;
    line-height: 1.1em;
    box-sizing: border-box;
    color: $color-sidenote-text;

}

.sidenote-hover {
    color: $color-subtext;
    z-index: 1;
    box-sizing: border-box;
    color: $internal-links;
    background: white;
    border: 1px solid brown;
}

.sidenote:hover {
    z-index: 1;
    color: $internal-links;
}

.footnote web-link {
    position: relative
}
.bigger:after{
    content:"";
    padding: 50px;  
    position: absolute;
    left: -25px;
    top: -25px;
} 

/* SHELL
=====================================================*/
// .shell-container{
//     padding: 10px;
//     margin: auto;
//     float: left;
//     width: 100%;
//     margin: 1em 1em 1em 0;
// }

/* Wissensorte
=====================================================*/
.w-list{
    // float: left;
    width: 100%;
    // margin: 1em;
    display: grid;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding: 0;
}

.w-list li {
    list-style-type: none;
    margin: 1em;
}


/* FOOTNOTES
================================================== */

.footnotes {
    border: $footnote-border;
    padding: 0px;
    color: $color-footnote-text;
}

.license {
    font-family: monospace;
    line-height: 1.1em;
    color: $color-text;
    font-size: 1rem;
    border: none;
    // display: block;
    padding: 1em;
    margin-top: 2em;
    // max-width: 28em;
    // margin: 2em auto;
    text-align: center;
    height: fit-content;
    margin-top: 40%;
    display: none;
    }

/* INDEX
================================================== */

.index-grid {
    // display: grid;
    // flex-wrap: wrap;
    // // flex-direction: column;
    // // text-align: left;
    // // padding: 1em;
    // // width: 100%;
    // //     border: none;
    // //     @media (max-width: 1000px)
    // //  {grid-template-columns: auto;}
    padding: 0;
    margin: auto;
    height: 100%;
    width: 100%;
    border: none;
}

.index-anchor {
        text-decoration: none !important;
        width: 100%;

}
.index-item, .archive-item, .library-item {
    width: 100%;
    margin: auto;
    text-align: left;
    // margin-bottom: 1em;
    padding: 0.5em;
    // border: 2px solid darkblue;
    border-top: none;
    box-sizing: border-box;
    font-size: 13px;
    // font-family: 'Times New Roman', Times, serif;
    
    &:hover {
        box-shadow: 0px 0px 0px 0px $color-primary;
        background-color: yellow;
        color: red;
    }
}

.index-item {
    height: auto;
    overflow: hidden;
    display: block;
}

.index-item-title, .library-item-title {
font-weight: bold;
    text-decoration: underline;
    color: $color-text;
    overflow: hidden;
}

.index-item-date, .library-item-filetype {
    font-weight: normal;
    // float: right;
}

.index-item-topic {
display: none;
}

.index-item-excerpt {
display: none;
}



/* ARCHIVE
================================================== */

.archive-grid {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-gap: 0.5em;
    background-color: $background;
    padding: 1em;
    margin: auto;
}

.archive-card {
    background-color: $color-inner-divs;
    width: 100%;
    margin: auto;
}



/* LIBRARY
================================================== */

.library-item {
    display: grid;
    grid-auto-columns: 100% 10%;
}

.draft-badge {
    padding: 0.5em;
    width: fit-content;
    // margin: 0.5em 0.5em auto auto;
    // position: absolute;
    float: right;
    background-color: red;
    color: white;
  }
  
.post-date {
    padding: 0.5em;
    // margin: 0.5em auto auto 0.5em;
    width: fit-content;
    margin: auto;
    // position: absolute;
    font-size: 13px;
    color: green;
  }

  .new-date {
    margin-left: 1.3em;
  }

.library-grid-container {
    width: 100%;
    margin: auto;
}
    
.library-grid {
    display: grid;
    grid-template-columns: 33% 33% 33% ;
    width: 100%;
}

.index-anchor:nth-child(1) {
    border-top: 1px solid blue;
}

.library-image {
    background: white;
}

.library-image-container {
    height: 7em;
    margin: 4%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}




/* TAG PAGE
================================================== */

.home-link-button a {
    &:hover {
    background-color: $background;
    color: black;
    }
}

.tile h1, .home-link-button h1 {
  margin: auto;
    width: 100%;
    text-align: center;
}

.tile:hover, home-link-button:hover {
    background-color: $color-items;
}

.tile:target {
    border: medium solid $color-primary;
}

.tile, .home-link-button {
   background-color: $color-inner-divs;    
    border: 2px solid $color-primary;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    &:hover {
    background-color: none;}
}

.tag-grid {
    display: block;
    text-align: start;
    background: white;
}

.tag-grid h1{
    font-size: 21px;
}

.tag-grid div{
    padding: 0;
    margin: 0;
    border: none;
    text-align:left;
    margin-left: 10px;
    height: auto;
    background-color: white;
    &:hover {
        background: white; }
}

.tag-grid div p a {
    padding: 0;
    border: none;
    text-align:left;
    padding: 0px 3px 0px 3px;
    color: darkblue;

    &:hover {
        background: yellow;
            color: red; }
}

.tile p{
padding: 0;
margin: 0;
}



/* PREVIOUS / NEXT BUTTONS
================================================== */

.prev-next {
    background-color: yellow;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    width: 600px;
    height: 3.5em;
    border: 2px solid blue;
    font-family: 'Times New Roman', Times, serif;
}

.prev-next a {
    font-weight: bold;
    text-decoration: none;
    overflow: hidden;
    color: red;
}
.prev {
    float: left;
    border: none;
    box-sizing: border-box;
    padding: 0.5em;
    border-radius: 5px;
    // width: 45%;
    max-height: 2em;
    text-align: center;
    line-height: 1.3em;
    color: red;

    &:hover {
    background: yellow;
        color: red; }
}


.next {
    float: right;
    border: none;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0.5em;
    width: 45%;
    max-height: 2em;
    text-align: center;
    line-height: 1.3em;
    color: red;
    
    &:hover {
    background: yellow;
        color: red; }
}

.prev-next-h1{
    margin: 0;
    padding: 5px;
    color: red;
}


.subtitle-text {
    width: 100%;
    text-align: center !important;
    margin: 0.5em auto;
}



/* COLOR BADGES (ZETTELKASTEN HEX)
================================================== */

.hex-badge {
    width: 2em;
    height: 2em;
    float: right;
    border: 2px solid white;
    box-sizing: border-box;
    box-shadow: 0px 0px 0px 1px black;
    margin-top: -1em;
}

/* NETWORK GRAPH (BACKLINK VISUAL REPRESENTATION)
================================================== */

.network-graph-container {
    clear: both;
    margin-top: 1em;
    display: block;
    background: $background;
    border: $article-border;
    padding: 2em;
    height: 45em;
    
    & h1 {
        text-align: center;
        margin-bottom: 1em;
    }
}


  .links line {
    stroke: $color-primary;
    opacity: 0.5;
  }

.nodes circle {
    cursor: pointer;
    fill: $color-primary;
    transition: all 0.15s ease-out;
  }

  .text text {
    cursor: pointer;
    fill: $color-subtext;
  }

  .nodes [active],
  .text [active] {
      cursor: pointer;
      fill: $color-primary;
      font-weight: bold;
      text-decoration: underline;
      
  }

  .inactive {
    opacity: 0.4;
    transition: all 0.15s ease-out;
  }


  #graph-wrapper svg {
      background: $color-inner-divs;
      height: 40em;
      border: 2px solid brown;
      border-radius: 10px;

  }



/* LISTS AND TABLES
================================================== */ 

ol li {
    list-style-type: decimal;
    font-size: 13px;
}

ol li li {
    list-style-type: lower-alpha;
    font-size: 13px;
}

ul li {
    list-style-type: decimal;
    font-size: 13px;
}

ul li li {
    list-style-type:circle;
}

table, tr, td {
    border: thin solid;
    border-collapse: collapse;
    padding: 0.5em;
    margin: auto;
    background-color: $color-inner-divs;
}

li{
    font-size: 0.93em;
}


/* BORDERS
================================================== */

// Border around your posts
 article {
    box-sizing: border-box;
    // background-color: white;
    // background-color: none;
}

// Border around the items in the sidebar
.sidebar-card, .border {
    border: none;
    box-sizing: border-box;
    margin-bottom: 1em;
        border-radius: 5px;

}




/* GRAPHVIZ PARSER -- GRAPH VISUALISATION TOOL
================================================== */

.graphviz-wrapper {
    padding: 0px;
}

.graphviz-wrapper svg {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}



/* GENERAL PURPOSE CLASSES
================================================== */

// use syntax: {:.classname} within markdown to apply a class— these general classes might come in handy.


/* -=Text=- */

.right-aside {
    float: right;
    border: $embed-border;
    padding: 1em;
    width: 40%;
    margin-left: 0.5em;
    font-size: 0.9em;
    background: white;
    border-radius: 5px;
}

.left-aside {
    float: left;
    border: $embed-border;
    padding: 1em;
    width: 40%;
    margin-left: 1em;
    font-size: 0.9em;
    background: white;
    border-radius: 5px;
}

.center{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* -=Images=- */

.right {
    float: right;
    width: 50%;
    padding: 1em;
}

.left {
    float: left;
    width: 50%;
    padding: 1em;
}

.border {
    border: medium solid brown;
}

.shadow {
    box-shadow: 0px 0px 15px black;
}

.glow {
    box-shadow: 0px 0px 15px white;
}

// -------------------------------------
// Links
// -------------------------------------

.external-link-container{
    width: 100%;
    // margin: 2em;
}

table, tr, td{
    border: thin solid;
    border-collapse: collapse;
    padding: 0.5em;
    margin: auto;
    background-color: white;
}

table{
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    unicode-bidi: isolate;
    border-spacing: 2px;
    border-color: gray;
}

table{
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}

thead{
    display: table-header-group;
    vertical-align: middle;
    unicode-bidi: isolate;
    border-color: inherit;
}

tr{
    display: table-row;
    vertical-align: inherit;
    unicode-bidi: isolate;
    border-color: inherit;
}

.external-link-table th{
    margin: 2em auto;
    padding: 1em;
    text-align: left;
}

th{
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
    unicode-bidi: isolate;
}

tbody{
    display: table-row-group;
    vertical-align: middle;
    unicode-bidi: isolate;
    border-color: inherit;
}


