  // -=-=-=- RESPONSIVE CSS -=-=-=- \\

body {
    overflow-wrap:break-word;
}

//  @media (max-width: 1350px) {
//     .sidenote, {
//          display: none;
//      }
//      .midcolumn, {
//          width: 500px;
//      }
//       .leftcolumn, {
//          width: auto;
//      }
//      .sidebar-link-box {
//     overflow-x: hidden;
// }
//      .sidebar-link-box ul {
//          font-size: smaller;
//      }
// }

@media (max-width:730px) {
    .related, .tags {
        display: none;
    }
}

@media (max-width: 730px){
    .midcolumn {
        width: 500px;
        margin: auto
    }
    .post-content{
        width: 100%;
        position: relative;
    }
    .leftcolumn{
        width: 100%;
    }
    .sidebar-link-box  {
        line-height: 0.8em;
    }
    .containter-lg {
        // width: 100%;
        padding: 3px;
    }
    .sidebar-card {
        padding: 0.5em;
    }
    .toc-container {
        margin: auto;
        max-width: 80%;
    }
    .related h2 {
        text-align: left;
    }
    .post-content {
        padding: 0em;
        margin: 0em;
    }
    .prev-next {
        padding: 2em;
        display: none;
    }
    .prev-next a {
        padding: 1em;
    }
    .backlinks-container{
        width: 80%;
    }
    .archive-grid {
    grid-template-columns: 100%;
    grid-gap: 0.5em;
    background-color: $background;
    padding: 1em;
    margin: auto;
}
    .left-aside, .right-aside, .right, .left {
        
        width: 80%;
        float: none;
    }
    
    code {
        overflow-x: scroll;
    }
}

@media (max-width: 730px){
    .leftcolumn{
        // padding-left: 1em;
        width: 100%;
        max-width: none;
    }
    .sidebar-card {
        display: grid;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
        max-width: none;
        justify-content: center;
        padding: 0;
        margin: auto;
        border-radius: 0px;
        margin-bottom: 1em;
    }
    .sidebar-link-box{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
    .sidebar-link-box a {
        margin-right: 1em;
    }
    .related{
        display: none;
    }
    .profile{
        padding-bottom: 5px;
    }
}

@media (max-width: 500px) {
    // .container-lg{
    //     padding: none;
    //     margin-left: 0;
    //     margin-right: 0;
    //     padding: 0px;
    // }
    .midcolumn{
        max-width: 100%;
        position: relative;
    }
}