<div class="sidebar-card profile">
    <div class="profile">
      <a href="{{ site.data.user.profile_link }}" | absolute_url }}">
      <img class="profile-pic" src="{{ site.baseurl }}/{{ site.data.user.profile_pic }}" alt="">
      </a>
        <a class="silent-link" href="/pages/latest.html" | absolute_url }}">
            <h1 class="user-name silent-link">{{ site.data.user.user_name }}</h1>
        </a>
</div>
  <div class="sidebar-link-box profile">
      <a href="/pages/all-daily">Log</a>
      <a href="/pages/all-articles">Essays</a>
      <a href="/pages/all-journal">r-Journal</a>
      <a href="/pages/shell壳.html">shell壳</a>
      <a href="/pages/wissensorte.html">Wissensorte</a>
      <a href="/pages/gallery.html">Gallery</a>
      <a href="/pages/">Core Mem19</a>
    </div>
  </div>