<div class="sidebar-card profile">
    <div class="profile">
      <a href="{{ site.data.user.profile_link }}" | absolute_url }}">
      <img class="profile-pic" src="{{ site.baseurl }}/{{ site.data.user.profile_pic }}" alt="">
      </a>
        <a class="silent-link" href="/" | absolute_url }}">
            <h1 class="user-name silent-link">{{ site.data.user.user_name }}</h1>
        </a>
</div>
  <div class="sidebar-link-box profile">
    <a href="/pages/Essays.html">Essays</a>
      <a href="/pages/Log.html">Log</a>
      <a href="/pages/tags.html">Shells壳</a>
      <a href="/pages/dreams.html">Dreams</a>
      <a href="/pages/gallery.html">Gallery</a>
      <a href="/pages/library.html">Library & Links</a>
      <a href="/ring.md">Webring</a>
      <a href="/pages/site-graph.html">Site Graph</a>
      <br>
      <button id="theme-toggle" onclick="myFunction()">
        Change Theme
      </button>
    </div>
  </div>
  
  <script>
   document.addEventListener("DOMContentLoaded", () => {
    const themeToggle = document.getElementById("theme-toggle");

    // Check localStorage for saved theme
    const savedTheme = localStorage.getItem("theme");

    if (savedTheme) {
        document.body.classList.add(savedTheme);
    }

    themeToggle.addEventListener("click", () => {
        // Toggle between light and dark themes
        if (document.body.classList.contains("dark-theme")) {
            document.body.classList.remove("dark-theme");
            document.body.classList.add("light-theme");
            localStorage.setItem("theme", "light-theme");
        } else {
            document.body.classList.remove("light-theme");
            document.body.classList.add("dark-theme");
            localStorage.setItem("theme", "dark-theme");
        }
    });
});
  </script>